.header__logo{
    text-align: center;
}

.contact-form__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.form{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required{
    color: red;
}

.form__ex{
    margin-right: 400px;
    color: gainsboro;
}

.form__ex-name {
    margin-right: 200px;
    color: gainsboro;
}

.form__input-name {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form__input-name input {
    padding: 10px;
    width: 290px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input-name label {
    padding: 10px;
    width: 290px;
    text-align: left;
    /* テキストを右寄せ */
    color: darkgrey;
}

.form__input--text{
    padding: 10px;
    width: 675px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--textarea{
    padding: 10px;
    width: 675px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__group-content--radio {
    width: 80%;
    display: flex;
    align-items: center
}

input[type="radio"]{
    transform: scale(2);
    /* サイズを変更 */
    margin-right: 5px;
    /* 適切なマージンを設定 */
}

.input__radio{
    margin-left: 10px;
}
